@model List<BugTracker.Areas.Admin.Models.UserProfileViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create new User", "AddUser")
</p>
<p>
    @Html.ActionLink("Details for User", "DetailsUserByName")
</p>
<p>
    @Html.ActionLink("List All Users", "ListAllUsers")
</p>
