@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="main-links">
    <p>@Html.ActionLink("View Users","Index","UserProfile")</p>
    <p>@Html.ActionLink("View Projects", "Index", "Project")</p>
</div>
