@{
    ViewBag.Title = "DeletedBug";
}

<h2 class="error">Error</h2>

<br />
<div class="error">
    This bug doesn't exist or was deleted!
</div>

<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
